# Compiled class file
*.class

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.jar

#kidff3 ignore
*.orig

#maven ignore

#idea
.idea/
/out/
/idea/
/target/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db

ml

*/**/*.~vsd
.settings/
.project
.classpath

bin
.DS_Store
*/**/dubbocache/
node_modules
build
~/
rebel.xml

















